{% extends "templates/default.njk" %}
{% block header %}
    <h1>heading goes here shrawan shrestha</h1>
     
 {% for product in products %}
    <h3>{{product.title}}</h3>
 {%- endfor %}

 <script>
 const func=((vars)=>{
 console.log('hello')})
 </script>
{% endblock %}