
html{
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
    position: relative;
    overflow-x:hidden;
}
 
#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

object {
    width:1rem;
    height: 1rem;
}
svg {
 size: 1em;
}