<div class="card mb-3" id="ds-spacing">
    <h4 class="card-header">Spacing</h4>
    <div class="card-body">
         <p>Spacing basically means padding and margin applied to any element. We have used bootstrap helper classes as mt-* , pt-* and mb, pb  so on. Basically m stands for margin and p stands for padding. You can know details on <a href="https://getbootstrap.com/docs/4.4/utilities/spacing/" target="_blank">Bootstrap Spacing Utility</a></p>
    </div>
</div>