 /*
 Project: Name of project
 Project Url : Url of Project
 Developer: Name of Developer
 Developer Url : Url of Developer
 
 */
// @import "~bootstrap";
@import "base/test";
 body {
     background-color:blue  !important;
 }   
 h1 {
     color:black;
 }